# Include any environment files
.ipynb_checkpoints
.DS_Store
.env
.venv

# cache directory
__pycache__



*.keras
*.h5
*.joblib
*.pkl
*.wav
*.bat


# added by rajan
Data/
Misc/
notebooks/rajan-hans/demo/
notebooks/rajan-hans/*.wav
